@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik:wght@900&display=swap");

/* Define custom root variables */
:root {
  --font-family: "Poppins", sans-serif;
  --line-height: 1.5;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: var(--line-height);
  font-family: var(--font-family);
  cursor: default;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Additional media query for responsive typography */
@media (max-width: 600px) {
  body {
    font-size: 0.9rem; /* Adjust base font size for smaller screens */
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
  gap: 1rem;
}

.title {
  color: #fff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: hsla(208, 33%, 21%, 1);
  font-size: 17px;
  color: #fff;
  /* margin-top: 25px; */
}

.boxes {
  display: flex;
  height: 150px;
  width: 150px;
  background-color: #446170;
  border: 4px solid hsla(208, 33%, 21%, 1);
  border-radius: 12px;
  cursor: pointer;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  margin-top: 1rem;
}

.boxes img {
  margin: 40px;
}

.title img {
  padding: 20px 20px;
  height: 80px;
}
